<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :pico_path %><br>
    <%= form.text_field :pico_path %><br>
    <% article.errors.full_messages_for(:pico_path).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <input type="file" id="myFile" name="filename">

  <div>
    <%= form.submit %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

<% end %>
